html,
body,
#__next {
  height: 100%;
  margin: 0;
  width: 100%;
}

.bubble {
  @apply relative rounded-[50%] h-[124px] w-[124px] mr-[20px] flex overflow-hidden justify-center items-center border-2 border-solid;
  /* position: relative; */
  /* border-radius: 50%; */
  /* height: 124px; */
  /* width: 124px; */
  /* margin-right: 20px; */
  position: absolute;
  /* overflow: hidden; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* border: 2px solid; */
}
.bubbles-wrapper {
  @apply flex justify-center xl:items-center min-h-[600px]  flex-col relative overflow-x-auto;
}

.bubbles {
  @apply absolute h-[600px] max-w-lg m-auto xl:w-full;
}

@media (min-width: 320px) {
  .bubbles {
    @apply scale-[0.7];
  }
  .bubbles-wrapper {
    @apply min-h-[440px];
  }
}

@media (min-width: 470px) {
  .bubbles-wrapper {
    @apply min-h-[480px];
  }
}

@media (min-width: 570px) {
  .bubbles-wrapper {
    @apply min-h-[450px];
  }
}

@media (min-width: 670px) {
  .bubbles {
    @apply scale-[0.6];
  }
  .bubbles-wrapper {
    @apply min-h-[470px];
  }
}

@media (min-width: 778px) {
  .bubbles {
    @apply scale-[0.7];
  }
  .bubbles-wrapper {
    @apply min-h-[525px];
  }
}

@media (min-width: 992px) {
  .bubbles {
    @apply scale-[0.7];
  }
  .bubbles-wrapper {
    @apply min-h-[560px];
  }
}

@media (min-width: 1100px) {
  .bubbles {
    @apply scale-[0.8] overflow-x-visible;
  }
  .bubbles-wrapper {
    @apply min-h-[620px];
  }
}

@media (min-width: 1200px) {
  .bubbles {
    @apply scale-[0.9];
  }
  .bubbles-wrapper {
    @apply min-h-[660px];
  }
}

@media (min-width: 1300px) {
  .bubbles {
    @apply scale-[1];
  }
  .bubbles-wrapper {
    @apply min-h-[680px];
  }
}

@media (min-width: 1380px) {
  .bubbles {
    @apply scale-[1.0];
  }
  .bubbles-wrapper {
    @apply min-h-[750px];
  }
}

@media (min-width: 1480px) {
  .bubbles {
    @apply scale-[1.0];
  }
  .bubbles-wrapper {
    @apply min-h-[760px];
  }
}

@media (min-width: 1580px) {
  .bubbles {
    @apply scale-[1.2];
  }
  .bubbles-wrapper {
    @apply min-h-[830px];
  }
}

@media (min-width: 1680px) {
  .bubbles {
    @apply scale-[1.4];
  }
  .bubbles-wrapper {
    @apply min-h-[900px];
  }
}

.bubble.bubble-100 {
  @apply bg-cardline-100 border-cardline-100 border-[2px];
}
.bubble.bubble-200 {
  @apply bg-cardline-200 border-cardline-200 border-[2px];
}
.bubble.bubble-300 {
  @apply bg-cardline-300 border-cardline-300 border-[2px];
}
.bubble.bubble-400 {
  @apply bg-cardline-400 border-cardline-400 border-[2px];
}
.bubble.bubble-500 {
  @apply bg-cardline-500 border-cardline-500 border-[2px];
}
.bubble.bubble-600 {
  @apply bg-cardline-600 border-cardline-600 border-[2px];
}
.bubble.bubble-700 {
  @apply bg-cardline-700 border-cardline-700 border-[2px];
}
.bubble.bubble-800 {
  @apply bg-cardline-800 border-cardline-800 border-[2px];
}
.bubble.bubble-900 {
  @apply bg-cardline-900 border-cardline-900 border-[2px];
}
/*
/*
/* .bubble.bubble-700 {
  @apply;
}
.bubble.bubble-800 {
  @apply;
} */

.bubble-count {
  @apply left-[5px] w-[40px] h-[40px] rounded-[50%] bg-primary_BG flex justify-center items-center pointer-events-none;
  /* position: absolute;
  left: 5px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%; */
  border: 1px solid #b4b1b1;
  /* display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; */
}

/* .bubbles {
  background-image: url(../../asset/image/svg/bubble.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
} */

.bubble img {
  @apply pointer-events-none;
}
